.venv/
env/
venv/
.idea/
.vscode/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.so
.Python
build/
dist/
*.egg-info/

.mypy_cache/
.pytest_cache/
.ruff_cache/

.coverage
htmlcov/
coverage.xml

logs/
.env
.env.*

documents/

Dockerfile~
docker-compose.yml~
